<router-outlet></router-outlet>
<div class="homepage-buttons">
  <a href="/home">Home</a>
</div>
<!-- <div class="container"> -->
        <!-- <h1>Question 1</h1>
        <div class="question" id="question">On his way to an important event he has to stop in the little town of Radiator Springs after he accidentally damages the road and is forced to repair it. He finds living in a community oddly endearing, making true friends and beginning to realise there's more in life than winning. A Pixar animation.?</div>
        <input type="text" id="guess" placeholder="Enter your guess here...">
        <button onclick="checkGuess()"></button>
        <div class="feedback" id="feedback"></div> -->
<div class="question-box">
  <div class="question">
    <p>Movie Question</p>
    <p>{{ Movie.Actors }}</p>
    <!-- <p>{{ movie.Director }}</p>
    <p>{{ movie.Year }}</p>
    <p>{{ movie.Genre }}</p>
    <p>{{ movie.Language }}</p>
    <p>{{ movie.Plot }}</p> -->
  </div>
</div>
         <div>
        <button (click)="ngOnInit()">Test API Call</button>
         </div>
    <!-- </div> -->