.question-box {
  width: 50%;
  height: 400px;

  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
  margin-top: 10px;

  background: lightgray;
  border: 6px solid darkgray;
  border-radius: 10px;
  padding: 20px;
}

.question {
  font-size: 24px;
  font-weight: bold;
}

.answer-box {
  text-align: center;
  margin-top: 20px;
}