<div class="game-container">
  <div *ngIf="!movie">
    <p>Loading movie...</p>
  </div>

  <div *ngIf="movie" class="question-box">

    <h1>Guess the Movie!</h1>
    <h2>Here are some details about the movie:</h2>

    <p>Plot: {{ movie?.Plot }}</p>
    <p>Actors: {{ movie?.Actors }}</p>
    <p>Director: {{ movie?.Director }}</p>
    <p>Year: {{ movie?.Year }}</p>
    <p> Genre: {{ movie?.Genre }}</p>
  </div>

  <!-- Reveal movie details -->
  <div class="answer-box"> 
    <button (click)="revealAnswer()">
        {{ reveal ? 'Hide' : 'Reveal' }} Movie
    </button>
  </div>

  <div *ngIf="reveal">
    <h2>{{ movie?.Title }}</h2>
    <img [src] = "movie?.Poster" alt="Poster of {{ movie?.Title }}" />
  </div>

  <!-- Game buttons -->
  <div class="answer-box">
    <button (click)="addPoint()">+1 Point</button>
    <button (click)="next()">Next Round</button>
  </div>

  <!-- Scoreboard -->
  <div class="answer-box">
    <p>Round: {{ gameData.getRound() + 1 }} / {{ gameData.getTotalRounds() }}</p>
    <p>Score: {{ gameData.getScore() }}</p>
  </div>

  <!-- End Game Button -->
  <div class="answer-box">
    <button (click)="endGame()">End Game</button>
  </div>

</div>
