
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Trivia Screen</title>
  <link rel="stylesheet" href="sologame.css">
<!--------------------------------------------------------->
</head>
<body>
<div class="quiz-container">

  <div class="circle">
      <span>10</span>
  </div>
  
  <h2 class="question">QUESTION, NANANA FLARBAN?</h2>

  <div class="graph-box">
      <img src="placeholder.png" alt="Graph">
  </div>

  <button class="next-btn">NEXT!</button>
  </div>

  <div class = "input-box">
    <input type = "Type your answer here!">
  </div>

  
</body>
</html>
